.menu-item>h4{
    color: #ffffff;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin: 2rem auto;
    align-items: center;
    border-radius: 0.25rem;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}
