/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
 */

.locations{
    background-color: #242222;
 }

.location-text{
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    text-align: center;
    color: #ffd368;
    font-size: 55%;
    line-height: 65px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@media screen and (max-width: 300px) {
    .location-text{
        font-size: 30px;
    }
}


.location-link-para{
    color: #ffd368;
    align-items: center;
    height: 100%;    
    line-height: 10mm;
}

.location-link{
    font-size: 45%;
    color: #ffd368;
    align-items: center;
    text-decoration: none;
    padding: 0.3rem 1rem;
    height: 100%;    
}


.location-link:hover{
    border-bottom: 3px solid #ffd368;
    transition: all 0.2s ease-out;
}

.google-map{
    display: block;
    position: absolute;
    top: 0;
    overflow: auto;
    display: block;
    height: 90%;
    width: 100%;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}